$softBlue: hsl(215, 51%, 70%);
$cyan: hsl(178, 100%, 50%);
$transparentCyan: hsla(178, 100%, 50%, .5);

$mainBGBlue: hsl(217, 54%, 11%);
$cardBGBlue: hsl(216, 50%, 16%);
$lineBlue: hsl(215, 32%, 27%);
$white: hsl(0, 0%, 100%);
$transparentBlack: hsla(0, 0%, 0%, .3)