@use 'colors';

@mixin centerGrid {
    display: grid;
    place-items: center;
}

@mixin fontsStyle ($size: 1rem, $weight: 500) {
    font: {
        size: $size;
        weight: $weight;
    }
}

@mixin textHover {

    .card__title,
    .card__creator-name {
        transition: background-color 0.3s ease, color 0.4s ease;
    }

    .card__title:hover,
    .card__creator-name:hover {
        cursor: pointer;
        color: colors.$cyan;
    }
}